
APP_URL=""
VITE_MAIL_API_ENDPOINT=""
VITE_USERNAME=""
VITE_PASSWORD=""
VITE_TEMPLATE_CODE=""
VITE_REPLY_TEMPLATE_CODE=""
VITE_NEWSLETTER_TEMPLATE_CODE=""
VITE_NEWSLETTER_REPLY_TEMPLATE_CODE=""
VITE_SENDER_EMAIL=""
VITE_SENDER_NAME=""
